In [9]:
import os
import pandas as pd
import numpy as np
from os.path import *

In [17]:
root = 'data'
neuro = os.path.join(root, 'raw','neuro')
anno = os.path.join(root, 'raw', 'anno')
e4 = os.path.join(root, 'raw', 'e4')

In [3]:
users = list(range(1,33))

In [52]:
def files_in_dir(root_dir):
    fileList =[]
    files = os.listdir(root_dir)
    for file in files:
        path = os.path.join(root_dir, file)
        if isfile(path):
            fileList.append(path)
        if os.path.isdir(path):
            fileList += files_in_dir(path)
            
    fileList = [ x for x in fileList if ('checkpoint' not in x) ]
            
    return fileList

In [18]:
def get_labels(uids):
    anno_types =['self','partner','external','agg_ex']
    anno_file_dic={}

    for t in anno_types:
        u_anno_path = os.path.join(anno,t)
        anno_data = files_in_dir(u_anno_path)
        anno_file_dic[t]=anno_data

    u_dic = {}
    for t in anno_types:
        files = anno_file_dic[t]
        for f in files:
            f = f.split('\\')[-1]
            p = f.split('.')[0]
            if p == 'P'+uid and 'checkpoint' not in f:
                if t in u_dic:
                    u_dic[t].append(f)
                else:
                    u_dic[t]=[f]
                    
    return u_dic

In [19]:
## data complete check 
dataCompDic={}

for uid in users:
    comp ={}
    for t in [neuro, e4]:
        key = t.split('\\')[-1]
        path = os.path.join(t,str(uid))
        try:
            files = files_in_dir(path)
            comp[key] = [ x.split('\\')[-1] for x in files]
        except:
            comp[key] = []
        
    dataCompDic[uid] = comp

In [20]:
dataCompDic

{1: {'neuro': ['BrainWave.csv', 'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 2: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': []},
 3: {'neuro': ['Attention.csv', 'BrainWave.csv', 'Meditation.csv'], 'e4': []},
 4: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 5: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 6: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': []},
 7: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': []},
 8: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 9: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 10: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_BVP-checkpoint.csv',
   'E4_EDA-checkpoint.csv',
   'E4_IBI-checkpoint.csv',
   'E4_TEMP-checkpoint.csv',
   'E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 11: {'neuro': ['Attention-checkpoint.csv',
   'BrainWave-checkpoint.csv',
   'Meditation-checkpoint.csv',
   'Polar_HR-checkpoint.csv',
   'Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 12: {'neuro': ['Attention.csv', 'BrainWave.csv', 'Meditation.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 13: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 14: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 15: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 16: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 17: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 18: {'neuro': ['Attention.csv', 'BrainWave.csv', 'Meditation.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 19: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 20: {'neuro': ['BrainWave.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 21: {'neuro': ['Attention.csv', 'BrainWave.csv', 'Meditation.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 22: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 23: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 24: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 25: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 26: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_TEMP.csv']},
 27: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 28: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 29: {'neuro': ['Attention.csv', 'BrainWave.csv', 'Meditation.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 30: {'neuro': ['Attention.csv', 'BrainWave.csv', 'Meditation.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 31: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']},
 32: {'neuro': ['Attention.csv',
   'BrainWave.csv',
   'Meditation.csv',
   'Polar_HR.csv'],
  'e4': ['E4_ACC.csv',
   'E4_BVP.csv',
   'E4_EDA.csv',
   'E4_HR.csv',
   'E4_IBI.csv',
   'E4_TEMP.csv']}}

In [32]:
data = pd.read_csv('data_availability.csv')

In [33]:
data

,pid,debate_audio,debate_recording,Attention,BrainWave,Meditation,Polar_HR,E4_ACC,E4_BVP,E4_EDA,...,E4_IBI,E4_TEMP,self_annotations,partner_annotations,aggregated_external_annotations,external_annotations_R1,external_annotations_R2,external_annotations_R3,external_annotations_R4,external_annotations_R5
0,1,True,False,False,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,2,True,True,True,True,True,True,False,False,False,...,False,False,True,True,True,True,True,True,True,True
2,3,True,True,True,True,True,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True
3,4,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,5,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,6,True,False,True,True,True,True,False,False,False,...,False,False,True,True,True,True,True,True,True,True
6,7,True,True,True,True,True,True,False,False,False,...,False,False,True,True,True,True,True,True,True,True
7,8,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8,9,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,10,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
10,11,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
11,12,True,False,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,13,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,14,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,15,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,16,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
16,17,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
17,18,True,False,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
18,19,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,20,True,True,False,True,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
20,21,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21,22,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
22,23,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23,24,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
24,25,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,26,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
26,27,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
27,28,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
28,29,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
29,30,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
30,31,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
31,32,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [35]:
cols = list(data.columns)

In [36]:
cols

['pid',
 'debate_audio',
 'debate_recording',
 'Attention',
 'BrainWave',
 'Meditation',
 'Polar_HR',
 'E4_ACC',
 'E4_BVP',
 'E4_EDA',
 'E4_HR',
 'E4_IBI',
 'E4_TEMP',
 'self_annotations',
 'partner_annotations',
 'aggregated_external_annotations',
 'external_annotations_R1',
 'external_annotations_R2',
 'external_annotations_R3',
 'external_annotations_R4',
 'external_annotations_R5']

In [37]:
data = data.drop(['debate_audio', 'debate_recording'], axis=1 )

In [38]:
data

,pid,Attention,BrainWave,Meditation,Polar_HR,E4_ACC,E4_BVP,E4_EDA,E4_HR,E4_IBI,E4_TEMP,self_annotations,partner_annotations,aggregated_external_annotations,external_annotations_R1,external_annotations_R2,external_annotations_R3,external_annotations_R4,external_annotations_R5
0,1,False,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,2,True,True,True,True,False,False,False,False,False,False,True,True,True,True,True,True,True,True
2,3,True,True,True,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True
3,4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5,6,True,True,True,True,False,False,False,False,False,False,True,True,True,True,True,True,True,True
6,7,True,True,True,True,False,False,False,False,False,False,True,True,True,True,True,True,True,True
7,8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,9,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9,10,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
11,12,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
12,13,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
13,14,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
14,15,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
15,16,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
16,17,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17,18,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
18,19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
19,20,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,21,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
21,22,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22,23,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
23,24,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
24,25,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
25,26,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True
26,27,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
27,28,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
28,29,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
29,30,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
30,31,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
31,32,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [39]:
cols = list(data.columns)

In [40]:
cols

['pid',
 'Attention',
 'BrainWave',
 'Meditation',
 'Polar_HR',
 'E4_ACC',
 'E4_BVP',
 'E4_EDA',
 'E4_HR',
 'E4_IBI',
 'E4_TEMP',
 'self_annotations',
 'partner_annotations',
 'aggregated_external_annotations',
 'external_annotations_R1',
 'external_annotations_R2',
 'external_annotations_R3',
 'external_annotations_R4',
 'external_annotations_R5']

In [41]:
data

,pid,Attention,BrainWave,Meditation,Polar_HR,E4_ACC,E4_BVP,E4_EDA,E4_HR,E4_IBI,E4_TEMP,self_annotations,partner_annotations,aggregated_external_annotations,external_annotations_R1,external_annotations_R2,external_annotations_R3,external_annotations_R4,external_annotations_R5
0,1,False,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,2,True,True,True,True,False,False,False,False,False,False,True,True,True,True,True,True,True,True
2,3,True,True,True,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True
3,4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5,6,True,True,True,True,False,False,False,False,False,False,True,True,True,True,True,True,True,True
6,7,True,True,True,True,False,False,False,False,False,False,True,True,True,True,True,True,True,True
7,8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,9,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9,10,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
11,12,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
12,13,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
13,14,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
14,15,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
15,16,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
16,17,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17,18,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
18,19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
19,20,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,21,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
21,22,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22,23,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
23,24,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
24,25,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
25,26,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True
26,27,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
27,28,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
28,29,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
29,30,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
30,31,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
31,32,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [44]:
false_col ={}

for col in cols[1:]:
    d = list(data[col])
    if False in d:
        fn = d.count(False)
        false_col[col] = fn

In [45]:
false_col

{'Attention': 2,
 'Meditation': 2,
 'Polar_HR': 7,
 'E4_ACC': 4,
 'E4_BVP': 4,
 'E4_EDA': 4,
 'E4_HR': 4,
 'E4_IBI': 5,
 'E4_TEMP': 4}

# Get Neuro Data

In [56]:
neuro_files

['data\\raw\\neuro\\7\\Attention.csv',
 'data\\raw\\neuro\\7\\BrainWave.csv',
 'data\\raw\\neuro\\7\\Meditation.csv',
 'data\\raw\\neuro\\7\\Polar_HR.csv']

In [57]:
[x.split('\\')[-1] for x in neuro_files]

['Attention.csv', 'BrainWave.csv', 'Meditation.csv', 'Polar_HR.csv']

In [75]:
#Agg Neuro Data
uid = 7

req_neuro_files=['Attention.csv', 'BrainWave.csv', 'Meditation.csv', 'Polar_HR.csv']

#Load Neuro Files 
neuro_files = files_in_dir(os.path.join(neuro,str(uid)))
neuro_files

neuro_dfs = {}

for f in neuro_files:
    df = pd.read_csv(f)
    df = df.drop(['pid'],axis=1)
    
    #change value column name
    if 'value' in list(df.columns):
        name = f.split('\\')[-1].split('.')[0]
        df.rename(columns={'value':name+'_value'}, inplace = True)
    
    
    neuro_dfs[f.split('\\')[-1]]=df
neuro_dfs

{'Attention.csv':           timestamp  Attention_value
 0     1548223953158             66.0
 1     1548223954162             57.0
 2     1548223955281             51.0
 3     1548223956148             54.0
 4     1548223957150             53.0
 ...             ...              ...
 1283  1548225229643             40.0
 1284  1548225230638             54.0
 1285  1548225231622             67.0
 1286  1548225232640             63.0
 1287  1548225233659             64.0

 [1288 rows x 2 columns],
 'BrainWave.csv':           timestamp  delta  lowAlpha  highAlpha  lowBeta  highBeta  lowGamma  \
 0     1548223953158   1350      4015       5804     7644      1884      5646
 1     1548223954162  16931     15332      21180     6758      6082     27146
 2     1548223955281   2729      5747       3299     3651      1510      1875
 3     1548223956148   3628      4305       8410     4915      3283      4507
 4     1548223957150    994     39083      21479    22857     17170      7341
 ...             ...    ...       ...        ...      ...       ...       ...
 1283  1548225229643  51472     32959      64134    51768     26691     33545
 1284  1548225230638  12328      2951      18450    11457      4128      4794
 1285  1548225231622  15525      7416      13892    27261     10188     12281
 1286  1548225232640  22355     19795      23953    18375      6269     10754
 1287  1548225233659   4378     13733       8532     6161      3736      4994

       middleGamma   theta  isValid
 0          285326   30832        1
 1          611611   89108        1
 2          128811   19785        1
 3           67960   29250        1
 4          670784  125470        1
 ...           ...     ...      ...
 1283      1683816  284158        1
 1284      1146642   37806        1
 1285       708691   90206        1
 1286       875962  119626        1
 1287       114125   25598        1

 [1288 rows x 10 columns],
 'Meditation.csv':           timestamp  Meditation_value
 0     1548223953158              51.0
 1     1548223954162              38.0
 2     1548223955281              27.0
 3     1548223956148              13.0
 4     1548223957150              24.0
 ...             ...               ...
 1283  1548225229643              51.0
 1284  1548225230638              41.0
 1285  1548225231622              30.0
 1286  1548225232640              40.0
 1287  1548225233659              47.0

 [1288 rows x 2 columns],
 'Polar_HR.csv':           timestamp  Polar_HR_value
 0     1548223953879            81.0
 1     1548223954875            79.0
 2     1548223955872            78.0
 3     1548223956871            77.0
 4     1548223957867            77.0
 ...             ...             ...
 1254  1548225228689            90.0
 1255  1548225229689            89.0
 1256  1548225231682            89.0
 1257  1548225232678            88.0
 1258  1548225233677            88.0

 [1259 rows x 2 columns]}

In [76]:
req_cols = []
for df in neuro_dfs.values():
    req_cols+= list(df.columns)

In [77]:
set(req_cols)

{'Attention_value',
 'Meditation_value',
 'Polar_HR_value',
 'delta',
 'highAlpha',
 'highBeta',
 'isValid',
 'lowAlpha',
 'lowBeta',
 'lowGamma',
 'middleGamma',
 'theta',
 'timestamp'}

In [80]:
#Concat all df 
#recursivly

def concatAll(df1, dfs):
    if dfs == []:
        return df1
    
    df2 = dfs.pop()
    
    df1 = pd.merge(df1,df2, how='outer', on='timestamp')
    return concatAll(df1,dfs)

In [82]:
dfs = list(neuro_dfs.values())
df1 = dfs.pop()

neuro_df = concatAll(df1, dfs)

In [83]:
neuro_df

,timestamp,Polar_HR_value,Meditation_value,delta,lowAlpha,highAlpha,lowBeta,highBeta,lowGamma,middleGamma,theta,isValid,Attention_value
0,1548223953879,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1548223954875,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1548223955872,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1548223956871,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1548223957867,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,1548224456599,NaN,NaN,9264.0,16913.0,28789.0,6186.0,8618.0,5071.0,7634.0,7906.0,1.0,38.0
2549,1548224509331,NaN,NaN,1347.0,4800.0,11134.0,8920.0,10139.0,9756.0,10548.0,14806.0,1.0,NaN
2550,1548224790894,NaN,NaN,7964.0,8053.0,5928.0,15184.0,1828.0,4342.0,116820.0,13068.0,1.0,NaN
2551,1548224916236,NaN,NaN,37375.0,39340.0,76927.0,43409.0,29295.0,56172.0,1155188.0,294113.0,1.0,NaN
2552,1548225121189,NaN,NaN,13568.0,30961.0,10915.0,11881.0,2596.0,6080.0,1278126.0,54330.0,1.0,35.0

In [88]:
#check complete cols 
## if no col --> Fill with 0
req_cols = ['Attention_value',
             'Meditation_value',
             'Polar_HR_value',
             'delta',
             'highAlpha',
             'highBeta',
             'isValid',
             'lowAlpha',
             'lowBeta',
             'lowGamma',
             'middleGamma',
             'theta',
             'timestamp',
             ]

df_cols = list(neuro_df.columns)

missing_cols =[]
for col in req_cols:
    if col not in df_cols:
        missing_cols.append(col)
        
missing_value = 0
print(missing_cols)
        
for col in missing_cols:
    neuro_df[col] = 0

['test']

In [89]:
neuro_df

,timestamp,Polar_HR_value,Meditation_value,delta,lowAlpha,highAlpha,lowBeta,highBeta,lowGamma,middleGamma,theta,isValid,Attention_value,test
0,1548223953879,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1548223954875,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1548223955872,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1548223956871,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1548223957867,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,1548224456599,NaN,NaN,9264.0,16913.0,28789.0,6186.0,8618.0,5071.0,7634.0,7906.0,1.0,38.0,0
2549,1548224509331,NaN,NaN,1347.0,4800.0,11134.0,8920.0,10139.0,9756.0,10548.0,14806.0,1.0,NaN,0
2550,1548224790894,NaN,NaN,7964.0,8053.0,5928.0,15184.0,1828.0,4342.0,116820.0,13068.0,1.0,NaN,0
2551,1548224916236,NaN,NaN,37375.0,39340.0,76927.0,43409.0,29295.0,56172.0,1155188.0,294113.0,1.0,NaN,0
2552,1548225121189,NaN,NaN,13568.0,30961.0,10915.0,11881.0,2596.0,6080.0,1278126.0,54330.0,1.0,35.0,0

# Get E4 Data

In [103]:
# get Data file path by uid 

uid = 8
path = 'data/raw/e4/'+str(uid)


e4_files = files_in_dir(path)

In [104]:
e4_files

['data/raw/e4/8\\E4_ACC.csv',
 'data/raw/e4/8\\E4_BVP.csv',
 'data/raw/e4/8\\E4_EDA.csv',
 'data/raw/e4/8\\E4_HR.csv',
 'data/raw/e4/8\\E4_IBI.csv',
 'data/raw/e4/8\\E4_TEMP.csv']

In [105]:
e4_types = [x.split('_')[-1].split('.')[0] for x in e4_files]

In [106]:
e4_dfs = [pd.read_csv(x) for x in e4_files]

In [107]:
e4_dfs[0]

,timestamp,pid,x,y,z,device_serial,device_number,entry_time
0,1.548224e+12,8,-6.0,-9.0,62.0,A01A3A,5,1548223953000
1,1.548224e+12,8,-6.0,-9.0,62.0,A01A3A,5,1548223953000
2,1.548224e+12,8,-7.0,-9.0,61.0,A01A3A,5,1548223953000
3,1.548224e+12,8,-6.0,-9.0,62.0,A01A3A,5,1548223953000
4,1.548224e+12,8,-6.0,-9.0,62.0,A01A3A,5,1548223953000
...,...,...,...,...,...,...,...,...
40924,1.548225e+12,8,-28.0,-5.0,57.0,A01A3A,5,1548223953000
40925,1.548225e+12,8,-27.0,-5.0,57.0,A01A3A,5,1548223953000
40926,1.548225e+12,8,-27.0,-5.0,57.0,A01A3A,5,1548223953000
40927,1.548225e+12,8,-27.0,-5.0,57.0,A01A3A,5,1548223953000
40928,1.548225e+12,8,-27.0,-5.0,57.0,A01A3A,5,1548223953000

In [108]:
for x in e4_dfs:
    print(x.columns)

Index(['timestamp', 'pid', 'x', 'y', 'z', 'device_serial', 'device_number',
       'entry_time'],
      dtype='object')
Index(['timestamp', 'pid', 'value', 'device_serial', 'device_number',
       'entry_time'],
      dtype='object')
Index(['timestamp', 'pid', 'value', 'device_serial', 'device_number',
       'entry_time'],
      dtype='object')
Index(['timestamp', 'pid', 'value', 'device_serial', 'device_number',
       'entry_time'],
      dtype='object')
Index(['timestamp', 'pid', 'value', 'device_serial', 'device_number',
       'entry_time'],
      dtype='object')
Index(['timestamp', 'pid', 'value', 'device_serial', 'device_number',
       'entry_time'],
      dtype='object')

In [109]:
for t, df in zip(e4_types, e4_dfs):
    #drop device info 
    #drop pid 
    #add type for value
    df.drop(['device_serial','device_number','pid','entry_time'], axis=1, inplace=True)
    
    try:
        df.rename(columns = {'value':t+'value'}, inplace = True)
    except:
        pass

In [110]:
e4_dfs[0]

          timestamp     x    y     z
0      1.548224e+12  -6.0 -9.0  62.0
1      1.548224e+12  -6.0 -9.0  62.0
2      1.548224e+12  -7.0 -9.0  61.0
3      1.548224e+12  -6.0 -9.0  62.0
4      1.548224e+12  -6.0 -9.0  62.0
...             ...   ...  ...   ...
40924  1.548225e+12 -28.0 -5.0  57.0
40925  1.548225e+12 -27.0 -5.0  57.0
40926  1.548225e+12 -27.0 -5.0  57.0
40927  1.548225e+12 -27.0 -5.0  57.0
40928  1.548225e+12 -27.0 -5.0  57.0

[40929 rows x 4 columns]

In [114]:
dfs = e4_dfs
df1 = dfs.pop()

e4_df = concatAll(df1, dfs)

In [115]:
e4_df

,timestamp,TEMPvalue,IBIvalue,HRvalue,EDAvalue,BVPvalue,x,y,z
0,1.548224e+12,30.99,NaN,NaN,0.000000,0.00,-6.0,-9.0,62.0
1,1.548224e+12,30.99,NaN,NaN,0.003844,-0.05,-6.0,-9.0,61.0
2,1.548224e+12,30.99,NaN,NaN,0.023064,6.20,-7.0,-9.0,62.0
3,1.548224e+12,30.99,NaN,NaN,0.025627,22.90,-6.0,-9.0,62.0
4,1.548224e+12,30.99,NaN,NaN,0.023064,93.76,-6.0,-9.0,62.0
...,...,...,...,...,...,...,...,...,...
83067,1.548225e+12,NaN,NaN,NaN,NaN,-1.78,NaN,NaN,NaN
83068,1.548225e+12,NaN,NaN,NaN,NaN,-2.15,-27.0,-5.0,57.0
83069,1.548225e+12,NaN,NaN,NaN,NaN,-2.68,NaN,NaN,NaN
83070,1.548225e+12,NaN,NaN,NaN,NaN,-3.04,-27.0,-5.0,57.0
83071,1.548225e+12,NaN,NaN,NaN,NaN,-2.91,NaN,NaN,NaN

In [1]:
%load_ext autoreload
%autoreload 2
from loader import *

In [137]:
lfiles = get_label_files('1')

In [180]:
label_dfs = get_label_data(lfiles)

In [175]:
label_dfs

{'self': [     seconds  arousal  valence  cheerful  happy  angry  nervous  sad boredom  \
  0          5        1        2         1      1      1        1    1       x
  1         10        1        2         1      1      1        1    1       x
  2         15        2        2         1      1      1        1    1     NaN
  3         20        2        3         1      1      1        1    1     NaN
  4         25        2        3         1      1      1        1    1     NaN
  ..       ...      ...      ...       ...    ...    ...      ...  ...     ...
  176      885        3        3         1      1      1        1    1     NaN
  177      890        3        3         1      1      1        1    1     NaN
  178      895        4        4         3      3      1        1    1     NaN
  179      900        3        3         2      2      1        1    1     NaN
  180      905        2        3         1      1      1        1    1     NaN

       confusion  ... surprise none_1  confrustion contempt dejection  disgust  \
  0          NaN  ...      NaN    NaN          NaN      NaN       NaN      NaN
  1          NaN  ...      NaN    NaN          NaN      NaN       NaN      NaN
  2          NaN  ...      NaN      x          NaN      NaN       NaN      NaN
  3          NaN  ...      NaN      x          NaN      NaN       NaN      NaN
  4          NaN  ...      NaN      x          NaN      NaN       NaN      NaN
  ..         ...  ...      ...    ...          ...      ...       ...      ...
  176        NaN  ...      NaN    NaN          NaN      NaN       NaN      NaN
  177        NaN  ...      NaN    NaN          NaN      NaN       NaN      NaN
  178        NaN  ...      NaN    NaN          NaN      NaN       NaN      NaN
  179        NaN  ...      NaN    NaN          NaN      NaN       NaN      NaN
  180        NaN  ...      NaN      x          NaN      NaN       NaN      NaN

       eureka  pride  sorrow  none_2
  0       NaN    NaN     NaN       x
  1       NaN    NaN     NaN       x
  2       NaN    NaN     NaN       x
  3       NaN    NaN     NaN       x
  4       NaN    NaN     NaN       x
  ..      ...    ...     ...     ...
  176     NaN    NaN     NaN       x
  177     NaN    NaN     NaN       x
  178     NaN    NaN     NaN       x
  179     NaN    NaN     NaN       x
  180     NaN    NaN     NaN       x

  [181 rows x 23 columns]],
 'partner': [     seconds  arousal  valence  cheerful  happy  angry  nervous  sad boredom  \
  0          5        2        3         2      2      1        2    1       x
  1         10        3        3         2      2      1        2    1     NaN
  2         15        3        3         2      2      1        2    1     NaN
  3         20        3        3         2      2      1        2    1     NaN
  4         25        3        3         2      2      1        2    1     NaN
  ..       ...      ...      ...       ...    ...    ...      ...  ...     ...
  176      885        4        3         2      2      1        3    1     NaN
  177      890        2        3         2      2      1        2    1     NaN
  178      895        2        4         3      3      1        1    1     NaN
  179      900        2        4         3      2      1        1    1     NaN
  180      905        2        4         3      2      1        1    1     NaN

      confusion  ... surprise none_1  confrustion  contempt dejection  disgust  \
  0         NaN  ...      NaN    NaN          NaN       NaN       NaN      NaN
  1         NaN  ...      NaN      x          NaN       NaN       NaN      NaN
  2         NaN  ...      NaN    NaN          NaN       NaN       NaN      NaN
  3         NaN  ...      NaN    NaN          NaN       NaN       NaN      NaN
  4         NaN  ...      NaN    NaN          NaN       NaN       NaN      NaN
  ..        ...  ...      ...    ...          ...       ...       ...      ...
  176       NaN  ...      NaN    NaN          NaN       NaN       NaN      NaN
  177       NaN  ...      NaN      x          NaN       NaN       NaN      NaN
  178       NaN  ...      NaN    NaN          NaN       NaN       NaN      NaN
  179       NaN  ...      NaN      x          NaN       NaN       NaN      NaN
  180       NaN  ...      NaN      x          NaN       NaN       NaN      NaN

       eureka  pride  sorrow none_2
  0       NaN    NaN     NaN      x
  1       NaN    NaN     NaN      x
  2       NaN    NaN     NaN      x
  3       NaN    NaN     NaN      x
  4       NaN    NaN     NaN      x
  ..      ...    ...     ...    ...
  176     NaN    NaN     NaN      x
  177     NaN    NaN     NaN      x
  178       x    NaN     NaN    NaN
  179     NaN    NaN     NaN      x
  180     NaN    NaN     NaN      x

  [181 rows x 23 columns]],
 'agg_ex': [     seconds  arousal  valence  cheerful  happy  angry  nervous  sad boredom  \
  0          5        1        3         2      2      1        1    1     NaN
  1         10        1        3         3      2      1        1    1     NaN
  2         15        1        3         2      1      1        1    1     NaN
  3         20        1        3         1      1      1        1    1     NaN
  4         25        1        3         1      1      1        1    1     NaN
  ..       ...      ...      ...       ...    ...    ...      ...  ...     ...
  167      840        3        3         1      1      1        1    1     NaN
  168      845        3        3         1      1      1        1    1     NaN
  169      850        3        3         1      1      1        1    1     NaN
  170      855        2        4         1      1      1        1    1     NaN
  171      860        2        3         1      1      1        1    1     NaN

       confusion  ...  surprise none_1  confrustion  contempt dejection  \
  0          NaN  ...       NaN    NaN          NaN       NaN       NaN
  1          NaN  ...       NaN    NaN          NaN       NaN       NaN
  2          NaN  ...       NaN    NaN          NaN       NaN       NaN
  3          NaN  ...       NaN    NaN          NaN       NaN       NaN
  4          NaN  ...       NaN    NaN          NaN       NaN       NaN
  ..         ...  ...       ...    ...          ...       ...       ...
  167        NaN  ...       NaN    NaN          NaN       NaN       NaN
  168        NaN  ...       NaN    NaN          NaN       NaN       NaN
  169        NaN  ...       NaN    NaN          NaN       NaN       NaN
  170        NaN  ...       NaN      x          NaN       NaN       NaN
  171        NaN  ...       NaN      x          NaN       NaN       NaN

       disgust  eureka  pride  sorrow  none_2
  0        NaN     NaN    NaN     NaN       x
  1        NaN     NaN    NaN     NaN       x
  2        NaN     NaN    NaN     NaN       x
  3        NaN     NaN    NaN     NaN       x
  4        NaN     NaN    NaN     NaN       x
  ..       ...     ...    ...     ...     ...
  167      NaN     NaN    NaN     NaN       x
  168      NaN     NaN    NaN     NaN       x
  169      NaN     NaN    NaN     NaN       x
  170      NaN     NaN    NaN     NaN       x
  171      NaN     NaN    NaN     NaN       x

  [172 rows x 23 columns]]}

In [181]:
concat_all(label_dfs,['seconds','arousal','valence'], concat_at ='seconds')

arousal
valence
arousal
valence
arousal
valence

,seconds,agg_ex_arousal,agg_ex_valence,self_arousal,self_valence,partner_arousal,partner_valence
0,5,1.0,3.0,1,2,2,3
1,10,1.0,3.0,1,2,3,3
2,15,1.0,3.0,2,2,3,3
3,20,1.0,3.0,2,3,3,3
4,25,1.0,3.0,2,3,3,3
...,...,...,...,...,...,...,...
176,885,NaN,NaN,3,3,4,3
177,890,NaN,NaN,3,3,2,3
178,895,NaN,NaN,4,4,2,4
179,900,NaN,NaN,3,3,2,4
180,905,NaN,NaN,2,3,2,4

In [15]:
datas = get_data_files(1, 'e4')

In [8]:
datas

{'E4_ACC':           timestamp  pid     x     y     z device_serial  device_number  \
 0      1.548120e+12    1  58.0  14.0  19.0        A01A3A              5
 1      1.548120e+12    1  58.0  14.0  19.0        A01A3A              5
 2      1.548120e+12    1  58.0  14.0  18.0        A01A3A              5
 3      1.548120e+12    1  58.0  14.0  18.0        A01A3A              5
 4      1.548120e+12    1  58.0  14.0  18.0        A01A3A              5
 ...             ...  ...   ...   ...   ...           ...            ...
 50364  1.548122e+12    1  59.0  14.0 -26.0        A01A3A              5
 50365  1.548122e+12    1  60.0  16.0 -24.0        A01A3A              5
 50366  1.548122e+12    1  64.0  14.0 -18.0        A01A3A              5
 50367  1.548122e+12    1  68.0  10.0 -18.0        A01A3A              5
 50368  1.548122e+12    1  71.0  10.0  -7.0        A01A3A              5

           entry_time
 0      1548120098000
 1      1548120098000
 2      1548120098000
 3      1548120098000
 4      1548120098000
 ...              ...
 50364  1548120098000
 50365  1548120098000
 50366  1548120098000
 50367  1548120098000
 50368  1548120098000

 [50369 rows x 8 columns],
 'E4_BVP':            timestamp  pid  value device_serial  device_number     entry_time
 0       1.548120e+12    1   0.00        A01A3A              5  1548120098000
 1       1.548120e+12    1   0.00        A01A3A              5  1548120098000
 2       1.548120e+12    1   0.00        A01A3A              5  1548120098000
 3       1.548120e+12    1   0.00        A01A3A              5  1548120098000
 4       1.548120e+12    1   0.00        A01A3A              5  1548120098000
 ...              ...  ...    ...           ...            ...            ...
 100732  1.548122e+12    1 -88.50        A01A3A              5  1548120098000
 100733  1.548122e+12    1 -50.52        A01A3A              5  1548120098000
 100734  1.548122e+12    1 -14.55        A01A3A              5  1548120098000
 100735  1.548122e+12    1  16.87        A01A3A              5  1548120098000
 100736  1.548122e+12    1  41.94        A01A3A              5  1548120098000

 [100737 rows x 6 columns],
 'E4_EDA':          timestamp  pid     value device_serial  device_number     entry_time
 0     1.548120e+12    1  0.000000        A01A3A              5  1548120098000
 1     1.548120e+12    1  0.829071        A01A3A              5  1548120098000
 2     1.548120e+12    1  1.176600        A01A3A              5  1548120098000
 3     1.548120e+12    1  1.614910        A01A3A              5  1548120098000
 4     1.548120e+12    1  2.092975        A01A3A              5  1548120098000
 ...            ...  ...       ...           ...            ...            ...
 6292  1.548122e+12    1  9.880648        A01A3A              5  1548120098000
 6293  1.548122e+12    1  9.747381        A01A3A              5  1548120098000
 6294  1.548122e+12    1  9.723035        A01A3A              5  1548120098000
 6295  1.548122e+12    1  9.707658        A01A3A              5  1548120098000
 6296  1.548122e+12    1  9.644869        A01A3A              5  1548120098000

 [6297 rows x 6 columns],
 'E4_HR':          timestamp  pid  value device_serial  device_number     entry_time
 0     1.548120e+12    1  71.00        A01A3A              5  1548120108000
 1     1.548120e+12    1  71.00        A01A3A              5  1548120108000
 2     1.548120e+12    1  71.00        A01A3A              5  1548120108000
 3     1.548120e+12    1  71.75        A01A3A              5  1548120108000
 4     1.548120e+12    1  72.20        A01A3A              5  1548120108000
 ...            ...  ...    ...           ...            ...            ...
 1560  1.548122e+12    1  77.75        A01A3A              5  1548120108000
 1561  1.548122e+12    1  77.70        A01A3A              5  1548120108000
 1562  1.548122e+12    1  77.67        A01A3A              5  1548120108000
 1563  1.548122e+12    1  77.77        A01A3A              5  1548120108000
 1564  1.548122e+12    1  77.87        A01A3A              5  1548120108000

 [1565 rows x 6 columns],
 'E4_IBI':         timestamp  pid    value device_serial  device_number     entry_time
 0    1.548120e+12    1  687.531        A01A3A              5  1548120098000
 1    1.548120e+12    1  718.783        A01A3A              5  1548120098000
 2    1.548120e+12    1  734.409        A01A3A              5  1548120098000
 3    1.548120e+12    1  765.660        A01A3A              5  1548120098000
 4    1.548120e+12    1  718.783        A01A3A              5  1548120098000
 ..            ...  ...      ...           ...            ...            ...
 409  1.548122e+12    1  656.280        A01A3A              5  1548120098000
 410  1.548122e+12    1  578.151        A01A3A              5  1548120098000
 411  1.548122e+12    1  640.654        A01A3A              5  1548120098000
 412  1.548122e+12    1  656.280        A01A3A              5  1548120098000
 413  1.548122e+12    1  562.526        A01A3A              5  1548120098000

 [414 rows x 6 columns],
 'E4_TEMP':          timestamp  pid  value device_serial  device_number     entry_time
 0     1.548120e+12    1  29.37        A01A3A              5  1548120098000
 1     1.548120e+12    1  29.37        A01A3A              5  1548120098000
 2     1.548120e+12    1  29.37        A01A3A              5  1548120098000
 3     1.548120e+12    1  29.37        A01A3A              5  1548120098000
 4     1.548120e+12    1  29.37        A01A3A              5  1548120098000
 ...            ...  ...    ...           ...            ...            ...
 6292  1.548122e+12    1  28.67        A01A3A              5  1548120098000
 6293  1.548122e+12    1  28.67        A01A3A              5  1548120098000
 6294  1.548122e+12    1  28.67        A01A3A              5  1548120098000
 6295  1.548122e+12    1  28.67        A01A3A              5  1548120098000
 6296  1.548122e+12    1  28.69        A01A3A              5  1548120098000

 [6297 rows x 6 columns]}

In [16]:
e4_1 = concat_all(datas,['timestamp', 'x', 'y', 'z', 'value']  )

rename column :value--> E4_BVP_value
rename column :value--> E4_EDA_value
rename column :value--> E4_HR_value
rename column :value--> E4_IBI_value
rename column :value--> E4_TEMP_value
dict_values([          timestamp     x     y     z
0      1.548120e+12  58.0  14.0  19.0
1      1.548120e+12  58.0  14.0  19.0
2      1.548120e+12  58.0  14.0  18.0
3      1.548120e+12  58.0  14.0  18.0
4      1.548120e+12  58.0  14.0  18.0
...             ...   ...   ...   ...
50364  1.548122e+12  59.0  14.0 -26.0
50365  1.548122e+12  60.0  16.0 -24.0
50366  1.548122e+12  64.0  14.0 -18.0
50367  1.548122e+12  68.0  10.0 -18.0
50368  1.548122e+12  71.0  10.0  -7.0

[50369 rows x 4 columns],            timestamp  E4_BVP_value
0       1.548120e+12          0.00
1       1.548120e+12          0.00
2       1.548120e+12          0.00
3       1.548120e+12          0.00
4       1.548120e+12          0.00
...              ...           ...
100732  1.548122e+12        -88.50
100733  1.548122e+12        -50.52
100734  1.548122e+12        -14.55
100735  1.548122e+12         16.87
100736  1.548122e+12         41.94

[100737 rows x 2 columns],          timestamp  E4_EDA_value
0     1.548120e+12      0.000000
1     1.548120e+12      0.829071
2     1.548120e+12      1.176600
3     1.548120e+12      1.614910
4     1.548120e+12      2.092975
...            ...           ...
6292  1.548122e+12      9.880648
6293  1.548122e+12      9.747381
6294  1.548122e+12      9.723035
6295  1.548122e+12      9.707658
6296  1.548122e+12      9.644869

[6297 rows x 2 columns],          timestamp  E4_HR_value
0     1.548120e+12        71.00
1     1.548120e+12        71.00
2     1.548120e+12        71.00
3     1.548120e+12        71.75
4     1.548120e+12        72.20
...            ...          ...
1560  1.548122e+12        77.75
1561  1.548122e+12        77.70
1562  1.548122e+12        77.67
1563  1.548122e+12        77.77
1564  1.548122e+12        77.87

[1565 rows x 2 columns],         timestamp  E4_IBI_value
0    1.548120e+12       687.531
1    1.548120e+12       718.783
2    1.548120e+12       734.409
3    1.548120e+12       765.660
4    1.548120e+12       718.783
..            ...           ...
409  1.548122e+12       656.280
410  1.548122e+12       578.151
411  1.548122e+12       640.654
412  1.548122e+12       656.280
413  1.548122e+12       562.526

[414 rows x 2 columns],          timestamp  E4_TEMP_value
0     1.548120e+12          29.37
1     1.548120e+12          29.37
2     1.548120e+12          29.37
3     1.548120e+12          29.37
4     1.548120e+12          29.37
...            ...            ...
6292  1.548122e+12          28.67
6293  1.548122e+12          28.67
6294  1.548122e+12          28.67
6295  1.548122e+12          28.67
6296  1.548122e+12          28.69

[6297 rows x 2 columns]])

In [17]:
e4_1

,timestamp,E4_TEMP_value,x,y,z,E4_BVP_value,E4_EDA_value,E4_HR_value,E4_IBI_value
0,1.548120e+12,29.37,58.0,14.0,19.0,0.00,0.000000,NaN,NaN
1,1.548120e+12,29.37,58.0,14.0,19.0,-0.05,0.829071,NaN,NaN
2,1.548120e+12,29.37,58.0,14.0,18.0,6.20,1.176600,NaN,NaN
3,1.548120e+12,29.37,58.0,14.0,19.0,22.90,1.614910,NaN,NaN
4,1.548120e+12,29.37,57.0,14.0,18.0,93.76,2.092975,NaN,NaN
...,...,...,...,...,...,...,...,...,...
101145,1.548122e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,656.280
101146,1.548122e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578.151
101147,1.548122e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,640.654
101148,1.548122e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,656.280
101149,1.548122e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,562.526

In [18]:
neuro_datas = get_data_files(1, 'neuro')

In [19]:
neuro_datas

{'BrainWave':           timestamp   delta  lowAlpha  highAlpha  lowBeta  highBeta  lowGamma  \
 0     1548120111526    1075       166       1158     1627       179       246
 1     1548120112540   11468     18089       6835    11808       716       614
 2     1548120113597       2         0          0        1         1         0
 3     1548120114529       0         0          1        1         0         0
 4     1548120115513       5        28         20        8         2         6
 ...             ...     ...       ...        ...      ...       ...       ...
 1562  1548121667260    5117      2797      11521     9366      1155      1226
 1563  1548121668261   24726    164470      17925    81387      3399      4958
 1564  1548121669264   83612     16047      45715    24382      2255      2090
 1565  1548121670267  254464    148092     183552   608043     30989     54663
 1566  1548121671249    2700     13247       5962     2426       453      1462

       middleGamma    theta  isValid  pid
 0            8657     3664        1    1
 1          321359    32559        1    1
 2               2        2        1    1
 3               1        0        1    1
 4             143        7        1    1
 ...           ...      ...      ...  ...
 1562        42230    33747        1    1
 1563       431170   134633        1    1
 1564       133612   190579        1    1
 1565      1702569  2106455        1    1
 1566       136298    20861        1    1

 [1567 rows x 11 columns], 'Polar_HR':           timestamp  value  pid
 0     1548120114309   91.0    1
 1     1548120115305   92.0    1
 2     1548120116303   92.0    1
 3     1548120117300   91.0    1
 4     1548120118298   90.0    1
 ...             ...    ...  ...
 1544  1548121667920   92.0    1
 1545  1548121668916   93.0    1
 1546  1548121669914   92.0    1
 1547  1548121670911   91.0    1
 1548  1548121671909   90.0    1

 [1549 rows x 3 columns]}

In [22]:
cols = []
for df in neuro_datas.values():
    cols+=list(df.columns)

In [23]:
cols

['timestamp',
 'delta',
 'lowAlpha',
 'highAlpha',
 'lowBeta',
 'highBeta',
 'lowGamma',
 'middleGamma',
 'theta',
 'isValid',
 'pid',
 'timestamp',
 'value',
 'pid']

In [ ]:
neuro_cols = ['timestamp', 'delta', 'lowAlpha', 'lowBeta', 'highAlpha','highBeta','lowGamma', 'middleGamma', 'theta', 'value']

In [ ]:
e4_1 = concat_all(datas,neuro_cols  )